<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>About Our Studio</h2>
              <p>
                Welcome to our studio! We are a creative and passionate team dedicated to delivering exceptional design and development solutions.
                With years of experience in the industry, we take pride in turning ideas into engaging and visually stunning digital experiences.
            
                Our mission is to help businesses thrive in the digital world by providing innovative and customized solutions. Whether you're
                looking for a stunning website, a user-friendly mobile app, or comprehensive branding strategies, we've got you covered.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-box">
      <div class="play_btn">
        <a href="https://www.youtube.com/watch?v=9MM8Nc8YrAA">
          <img src="{{ url_for('static', filename='images/play.png') }}" alt="" />
        </a>
      </div>
      <img src="{{ url_for('static', filename='images/about-img.png') }}" class="about-img" alt="" />
    </div>
  </section>

  <!-- end about section -->