<!-- gallery section -->
<section class="gallery_section layout_padding-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <div class="heading_container">
            <h2>Discover the Beauty of Our Gallery</h2>
              <p>
                Welcome to our visual showcase! Our gallery is a curated collection of breathtaking designs, creative projects, and memorable
                moments captured throughout our journey. Each image tells a story, reflecting our commitment to excellence and passion for
                creativity.
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_container">
      <div class="gallery_bg">
        <img src="{{ url_for('static', filename='images/gallery-bg.png') }}" alt="" />
      </div>
      <div class="container">
        <div class="gallery_box">
          <div class="box b1">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-1.jpg') }}" alt="" />
              <h5>
                photography
              </h5>
            </div>
          </div>
          <div class="box b2">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-2.jpg') }}" alt="" />
              <h5>
                photography
              </h5>
            </div>
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-3.jpg') }}" alt="" />
              <h5>
                photography
              </h5>
            </div>
          </div>
          <div class="box b3">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-4.jpg') }}" alt="" />

              <h5>
                photography
              </h5>
            </div>
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-5.jpg') }}" alt="" />

              <h5>
                photography
              </h5>
            </div>
          </div>
          <div class="box b4">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/gallery-6.jpg') }}" alt="" />

              <h5>
                photography
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end gallery section -->