{% extends 'base.html' %} 

{% block title %} Blog {% endblock %} 

{% block content %}

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    
  </div>

  <div class="layout_padding-bottom">

    <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Explore Our Latest Blog</h2>
              <p>
                In the ever-evolving landscape of technology and design, staying informed is key. Our latest blog entries are crafted to provide
                you with valuable insights, industry trends, and practical tips to help you navigate the digital world.

                Dive into our blog to discover thought-provoking articles written by our expert team. From web development best practices to
                design inspiration, we cover a wide range of topics to keep you engaged and informed.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog_container">
      <div class="blog_bg">
        <img src="{{ url_for('static', filename='images/gallery-bg.png') }}" alt="" />
      </div>
      <div class="container">
        <div class="blog_box">
          <div class="row">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="box b2">
                        <div class="img-box">
                            <img src="{{ url_for('static', filename=post.image_path) }}" alt="" />
                        </div>
                        <div class="blog-detail">
                            <div class="blog_title">
                                <h5>{{ post.heading }}</h5>
                                <div class="blog_post">
                                    <h6>Post By: {{ post.posted }}</h6>
                                </div>
                            </div>
                            <p>{{ post.post }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->
  </div>
  <!-- info section -->

<section class="info_section ">
  <div class="info_container layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="info_main">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <div class="info_contact ">
              <a href="https://www.google.com/maps/place/Color+G%C3%BCvenlik+%26+Bili%C5%9Fim+Teknolojileri/@40.986209,28.6764752,14z/data=!4m10!1m2!2m1!1za2FtZXJhIGTDvGtrYW7EsQ!3m6!1s0x14caa053c60c1693:0xf51fdcb95753152a!8m2!3d40.986209!4d28.714584!15sChBrYW1lcmEgZMO8a2thbsSxkgEXZWxlY3Ryb25pY3NfcmVwYWlyX3Nob3DgAQA!16s%2Fg%2F11gcjgv9z9?entry=ttu" class="link-box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/location.png') }}" alt="" />
                </div>
                <div class="detail-box">
                  <h6>
                    Location
                  </h6>
                </div>
              </a>
              <a class="link-box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/mail.png') }}" alt="" />
                </div>
                <div class="detail-box">
                  <h6>
                    demo@gmail.com
                  </h6>
                </div>
              </a>
              <a class="link-box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename='images/call.png') }}" alt="" />
                </div>
                <div class="detail-box">
                  <h6>
                    Call +01 1234567890
                  </h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2 col-lg-3">
            <div class="info_link-box">
              <ul>
                <li class="">
                  <a class="" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="{{ url_for('about') }}">About </a>
                </li>
                <li class="">
                  <a class="" href="{{ url_for('gallery') }}">Gallery </a>
                </li>
                <li class="">
                  <a class="" href="{{ url_for('blog') }}">Blog </a>
                </li>
                <li class="">
                  <a class="" href="{{ url_for('testimonial') }}">Testimonial </a>
                </li>
              </ul>                
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="social_box">
              <a href="https://www.facebook.com/?locale=tr_TR">
                <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="" />
              </a>
              <a href="https://twitter.com/home">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="" />
              </a>
              <a href="https://www.linkedin.com/feed/">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="" />
              </a>
              <a href="https://www.instagram.com/">
                <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="" />
              </a>
              <a href="https://www.youtube.com/">
                <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="" />
              </a>
            </div>                   
          </div>              
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

  <!-- footer section -->
<footer class="footer_section ">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </div>
</footer>
<!-- footer section -->

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
{%endblock%}