{% extends 'base.html' %} 

{% block title %} Gallery {% endblock %} 

{% block content %}

<body class="sub_page">
  <div class="hero_area">

  </div>
   <!-- gallery section -->
<section class="gallery_section layout_padding-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <div class="heading_container">
          <div class="gallery_container">
            <h2>Discover the Beauty of Our Gallery</h2>
            <p>
              Welcome to our visual showcase! Our gallery is a curated collection of breathtaking designs, creative projects, and memorable moments captured throughout our journey. Each image tells a story, reflecting our commitment to excellence and passion for creativity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery_container">
    <div class="gallery_bg">
      <img src="{{ url_for('static', filename='images/gallery-bg.png') }}" alt="" />
    </div>
    <div class="container">
      <div class="row gallery_box">
        {% for image in images %}
          <div class="col-md-4 mb-4">
            <div class="box">
              <div class="img-box">
                <img src="{{ url_for('static', filename=image.image_path) }}" alt="" />
                <h5>{{ image.category }}</h5>
              </div>
            </div>
          </div>
          {% if loop.index % 3 == 0 %} {# Her üç elemandan sonra bir satır ekle #}
            </div>
            <div class="row gallery_box">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end gallery section -->

  {%include "parts/_info_section.html"%}

  {%include "parts/_footer.html"%}

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

{%endblock%}