{% extends 'base.html' %} 

{% block title %} Home {% endblock %} 

{% block content %}

<body>
  <div class="hero_area">

    {%include "parts/_slider.html"%}
  </div>

  {%include "parts/_about_section.html"%}

  {%include "parts/_gallery_section.html"%}

  {%include "parts/_blog_section.html"%}

  {%include "parts/_client_section.html"%}

  {%include "parts/_info_section.html"%}

  {%include "parts/_footer.html"%}

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

{% endblock %}