<!-- register.html -->
{% extends 'base.html' %} {% block title %} Login {% endblock %} 

{% block content %}

<style>
  .login-header {
    text-align: center;
    margin-bottom: 30px;
  }
</style>

<form method="post" action="">
  {{ form.hidden_tag() }}
  <div class="login-header">
    <h2>Login</h2>
    <p class="lead">Sign in to your account</p>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-3" >
      <form action="{{ url_for('login') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
  
        <div class="mb-3">
          {{ form.username.label(class="form-label") }} 
          {{form.username(class="form-control") }} 
          {% if form.username.errors %}
            <div class="invalid-feedback">
              {{ form.username.errors[0] }}
            </div>
          {% endif %}
        </div>
  
        <div class="mb-3">
          {{ form.email.label(class="form-label") }} 
          {{form.email(class="form-control") }} 
          {% if form.email.errors %}
            <div class="invalid-feedback">
              {{ form.email.errors[0] }}
            </div>
          {% endif %}
        </div>
  
        <div class="mb-3">
          {{ form.password.label(class="form-label") }} 
          {{form.password(class="form-control") }} 
          {% if form.password.errors %}
            <div class="invalid-feedback">
              {{ form.password.errors[0] }}
            </div>
          {% endif %}
        </div>
  
        <div class="mb-3">
          {{form.remember_me()}}
          {{form.remember_me.label(class="form-check-label")}}
        </div>
  
        <div class="mb-3 text-center">{{ form.submit(class="btn btn-primary btn-lg") }}</div>
  
        <div class="mb-3" style="display: none"></div>
      </form>
    </div>
  </div>
</form>

{% endblock %}
